.content
  display: flex
  flex-direction: column

.title
  margin: 0
  position: relative

.caption
  font-family: 'Balqis', sans-serif
  font-weight: 400
  font-size: 96px
  line-height: 128px
  color: $anzac

.subtitle
  font-family: 'RobotoCondensed-LightItalic', sans-serif
  font-weight: 300
  font-size: 24px
  line-height: 28px
  color: $black
  position: absolute
  right: 0
  bottom: 0

.text
  margin: 0

.heading
  font-family: 'RobotoCondensed-Regular', sans-serif
  font-weight: 400
  font-size: 24px
  line-height: 28px
