.content
  display: flex
  flex-direction: column

.title
  margin: 0
  position: relative

.caption
  font-family: 'Balqis', sans-serif
  font-weight: 400
  font-size: 96px
  line-height: 128px
  color: $anzac

.subtitle
  font-family: 'RobotoCondensed-LightItalic', sans-serif
  font-weight: 300
  font-size: 24px
  line-height: 28px
  color: $black
  position: absolute
  right: 0
  bottom: 0

.text
  margin: 0

.heading
  margin: 0
  font-family: 'RobotoCondensed-Regular', sans-serif
  font-weight: 400
  font-size: 24px
  line-height: 28px

.list
  margin: 0
  margin-bottom: 50px
  padding: 0
  list-style: none

.button
  padding: 9px 49px
  font-family: 'RobotoCondensed-Light', sans-serif
  font-weight: 300
  font-size: 24px
  line-height: 28px
  color: $black
  border: 1px solid $anzac
  background-color: $white
  text-decoration: none
  transition: all .4s
  &:hover
    background-color: $anzac
    color: $white

.scroll-right
  padding: 0
  background-color: transparent
  border: none
  line-height: 0
  position: absolute
  right: 2%
  top: 50%
  transform: translateY(-50%)
  cursor: pointer

.scroll-left
  padding: 0
  background-color: transparent
  border: none
  line-height: 0
  position: absolute
  left: 2%
  top: 50%
  transform: translateY(-50%)
  cursor: pointer

.arrow-right
  width: 37px
  height: auto

.arrow-left
  width: 37px
  height: auto
