.about
  padding-top: 200px
  padding-bottom: 100px
  @media screen and ( max-width: 1440px )
    padding-top: 150px
  @media screen and ( max-width: 768px )
    padding-top: 100px
  @media screen and ( max-width: 425px )
    padding-top: 50px
    padding-bottom: 50px

  &__container
    margin-left: 0

  &__wrap
    @media screen and ( max-width: 1280px )
      display: flex
      flex-direction: column
      align-items: center
      max-width: 550px
    @media screen and ( max-width: 768px )
      max-width: 450px
    @media screen and ( max-width: 600px )
      max-width: 370px
    @media screen and ( max-width: 425px )
      margin: 0 auto
    @media screen and ( max-width: 375px )
      max-width: 300px

  &__title
    max-width: 330px
    margin-left: 360px
    margin-bottom: 105px
    @media screen and ( max-width: 1440px )
      margin-left: 200px
      margin-bottom: 55px
    @media screen and ( max-width: 1280px )
      margin-left: 0px
    @media screen and ( max-width: 768px )
      margin-bottom: 35px
    @media screen and ( max-width: 375px )
      margin-bottom: 25px

  &__subtitle
    right: -85px
    @media screen and ( max-width: 375px )
      right: -40px

  &__inner
    display: flex
    justify-content: space-between
    @media screen and ( max-width: 1440px )
      align-items: center
      max-width: 1130px
    @media screen and ( max-width: 1280px )
      flex-direction: column
      align-items: flex-start

  &__slider
    position: relative

  &__image
    width: 960px
    height: auto
    @media screen and ( max-width: 1440px )
      width: 550px
    @media screen and ( max-width: 768px )
      width: 450px
    @media screen and ( max-width: 600px )
      width: 370px
    @media screen and ( max-width: 375px )
      width: 300px

  &__arrow-right
    width: 37px
    height: auto
    position: absolute
    right: 2%
    top: 50%
    transform: translateY(-50%)
    cursor: pointer
    @media screen and ( max-width: 1440px )
      width: 27px
    @media screen and ( max-width: 768px )
      width: 20px

  &__arrow-left
    width: 37px
    height: auto
    position: absolute
    left: 2%
    top: 50%
    transform: translateY(-50%)
    cursor: pointer
    @media screen and ( max-width: 1440px )
      width: 27px
    @media screen and ( max-width: 768px )
      width: 20px

  &__content
    padding: 45px 0
    display: flex
    flex-direction: column
    @media screen and ( max-width:1440px )
      padding: 20px 0
    @media screen and ( max-width: 600px )
      padding: 10px 0 0 0

  &__text
    max-width: 545px
    margin-bottom: 50px
    &:last-child
      margin-bottom: 0
    @media screen and ( max-width:1440px )
      margin-bottom: 25px
    @media screen and ( max-width: 600px )
      margin-bottom: 15px
      font-size: 16px
      line-height: 19px

  &__heading
    margin: 0
    margin-bottom: 50px
    font-family: 'RobotoCondensed-Regular', sans-serif
    font-weight: 400
    @media screen and ( max-width:1440px )
      margin-bottom: 25px
    @media screen and ( max-width: 600px )
      margin-bottom: 15px
      font-size: 16px
      line-height: 19px

  &__list
    margin: 0
    margin-bottom: 50px
    padding: 0
    list-style: none
    @media screen and ( max-width:1440px )
      margin-bottom: 25px
    @media screen and ( max-width: 600px )
      margin-bottom: 15px

  &__item
    @media screen and ( max-width: 600px )
      font-size: 16px
      line-height: 19px

  &__excerpt
    margin-bottom: 50px
    @media screen and ( max-width:1440px )
      margin-bottom: 25px
    @media screen and ( max-width: 600px )
      margin-bottom: 15px
