.route
  padding-top: 100px
  padding-bottom: 100px

  &__container
    margin-right: 0

  &__wrap
    display: flex
    justify-content: space-between

  &__content
    max-width: 280px
    display: flex
    flex-direction: column
    align-items: flex-start

  &__title
    max-width: 330px
    margin-bottom: 110px

  &__subtitle
    right: -60px

  &__heading
    margin-bottom: 20px

  &__item
    font-family: 'RobotoCondensed-Light', sans-serif
    font-weight: 300
    font-size: 24px
    line-height: 28px

  &__slider
    position: relative

  &__image
    width: 960px
    height: auto

  &__arrow-right
    position: absolute
    right: 2%
    top: 50%
    transform: translateY(-50%)

  &__arrow-left
    position: absolute
    left: 2%
    top: 50%
    transform: translateY(-50%)
